<!DOCTYPE html>


<head>
    <link rel="shortcut icon" href="./favicon.png" type="image/svg+xml">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap">


    {{!-- <link rel="stylesheet" href="../../css/header.css"> --}}


    <link rel="preload" as="image" href="./assets/images/hero-banner.png">
    <link rel="preload" as="image" href="./assets/images/hero-bg.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/logo1.png">
    <link rel="stylesheet" href="../../css/aboutUs.css">
    <link rel="stylesheet" href="../../css/styles1.css">
    <title>About Us - Your Company Name</title>
</head>

<body>
     <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutus">About</a></li>
            <li><a href="/firstaid">Contact</a></li>
            <li style="float:right"><a class="active" href="/login">Login</a></li>
        </ul>
    </nav>

    <section class="about-section">
        <div class="main-container container d-flex mt-5">
            <div class="about-title">
                <img src="../../images/Healthcare-Providers.png">
            </div>
            <div class="about-content">
                <h1 id="aboutUs">About Us</h1>

                At Wellness Whisperer, we are dedicated to redefining healthcare by putting our patients at the heart of
                everything we do. We understand the challenges that patients face in the modern healthcare landscape,
                including long wait times and inefficient resource allocation. That's why we've made it our mission to
                revolutionize the patient appointment scheduling process, prioritizing your well-being and convenience.

                <h1 style="margin-top: 10px; text-decoration: underline;margin-bottom: 15px;">Our Vision</h1>

                Our vision is simple yet profound: to provide exceptional healthcare services that are accessible,
                efficient, and tailored to your needs. We strive to be a trusted partner in your healthcare journey,
                offering a seamless and patient-friendly appointment scheduling system that optimizes resource
                allocation, minimizes waiting times, and maximizes patient satisfaction.

                <h1 style="margin-top: 10px; text-decoration: underline;margin-bottom: 15px;">Our Approach</h1>

                <ol>
                    <li class="design">
                        <b>Patient-Centric Care: Your Health, Your Schedule</b>
                    </li>

                    <p class="design">
                        We believe that healthcare should revolve around you, the patient. Our patient-centric approach
                        means that we put your health and convenience first.Whether you're seeking routine check-ups,
                        specialized treatments, or consultations with multiple specialists, our system adapts to your
                        specific requirements.
                    </p>
                    <li class="design">
                        <b>Data-Driven Resource Allocation</b>
                    </li>
                    <p class="design">
                        Our commitment to excellence in healthcare is underpinned by data-driven decision-making. We've
                        harnessed the power of advanced analytics and artificial intelligence to optimize resource
                        allocation. This means that the right resources are matched to your needs, ensuring that you
                        receive the care you deserve without unnecessary delays.
                    </p>
                    <li class="design">
                        <b>Minimized Wait Times: Your Time Matters</b>
                    </li>
                    <p class="design">
                        We understand that your time is valuable, and you shouldn't have to spend hours in a waiting
                        room. We've streamlined our scheduling process to minimize your waiting time. This not only
                        reduces patient frustration but also ensures that healthcare providers can focus on delivering
                        the highest quality care rather than managing scheduling inefficiencies.
                    </p>
                </ol>


            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Your Company Name</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>